{% extends 'base2.html.twig' %}

{% block body %}
	<h1>Insert  page</h1>
	{# {{  form('insert_form')  }} #}
	{# {{ form_start(insert_form) }} #}
	{{form(insert_form)  }}
	{# {{ form_row(insert_form.name) }} #}
	{# {{ form_widget(insert_form.name,{value:'sss'}) }}
	{{ form_row(insert_form.address) }} #}

    {% endblock %}
